@charset "UTF-8";

@import "../base/variables.scss";
																				
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
																				

html,
button,
input,
select,
textarea {
	color: $color-black;
}

::-moz-selection {
	background: $selection-color;
	text-shadow: $selection-color;
}

::selection {
	background: $selection-color;
	text-shadow: none;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}