@charset "UTF-8";

/*============ COLORS ============*/

// Sections
$body-background: #f8f8f8;

// Defaults Colors
$color-black: #000000;
$color-white: #ffffff;
$color-light_blue: #03a9f4;
$color-blue: #01579b;
$color-deep_blue: #061a38;
$color-yellow: #ffcc00;
$color-green: #00ff22;
$color-grey: #ebeff2;

/*========== FONT-SIZE ===========*/

// Body
$font-size: 16px;