@charset "UTF-8";

/* ==========================================================================
	SCSS VARIABLES
	========================================================================== */

/* COLORS */
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #00adef;



/* SELECTION */
$selection-color: #00a2ff;



/* FONT-SIZE */
$font-size: 2.230rem;



/* MARGINS */
$margin-big: 30px;
$margin-small: 15px;
