// MENU

.menu {
	position: relative;
	height: 100vh;
	background: $color-light_blue;
	overflow: auto;
	
	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: #117db3;
		outline: 1px solid slategrey;
	}
}

.menu__header {
	background: $color-blue;
	padding: 10px 0;
	width: calc(100% + 30px);
	margin-left: -15px;
	padding: 15px;
}

.menu__body {
	padding: 15px 0;
}

.menu-item {
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu-item__name {
	display: block;
	text-decoration: none;
	color: $color-white;
	font-weight: 600;
	margin-bottom: 3px;
}

.menu-item__lang,
.menu-item__forks,
.menu-item__stars {
	display: inline-block;
	color: $color-white;
}

.menu-item__lang {
	color: $color-yellow;
}

.menu-item__forks,
.menu-item__stars {
	margin: 0 3px;
	&:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: top;
	}
}

.menu-item__forks {
	&:before {
		background: url("../../../assets/images/git-fork.svg") no-repeat center;
		background-size: contain;
	}
}

.menu-item__stars {
	&:before {
		background: url("../../../assets/images/git-star.svg") no-repeat center;
		background-size: contain;
	}
}

// Repository Overview

.repository-overview {
	position: relative;
	height: 100vh;
}