<!-- Services -->
<script src="assets/js/service/githubAPIService.js"></script>
<article>
	<header>
		<h1 class="title">{{repoDetails.name}}</h1>
		
		<div class="repo-stats medium-10 columns no-padding end">
			<div class="repo-stats--stars repo-stats__box medium-3 columns">
				<h2 class="repo-stats__title">Stars</h2>
				<div class="repo-stats__numbers">{{repoDetails.stargazers_count}}</div>
			</div>
			<div class="repo-stats--forks repo-stats__box medium-3 columns">
				<h2 class="repo-stats__title">Forks</h2>
				<div class="repo-stats__numbers">{{repoDetails.forks_count}}</div>
			</div>
			<div class="repo-stats--contribs repo-stats__box medium-3 end columns">
				<h2 class="repo-stats__title">Contribs</h2>
				<div class="repo-stats__numbers">{{666}}</div>
			</div>
		</div>
	</header>

	<div class="row"></div>

	<section>
		<h2 class="title">Commits</h2>

		<div class="list-commits medium-12 columns">
			<ul>
				<li><a href="">{{repoDetails.name}}</a></li>
			</ul>
		</div>

		<div class="commits-graph medium-12 columns">
		graph
		</div>

	</section>
</article>